@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Bebas Neue', cursive; */
    margin: 0;
    padding: 0;
    background: #000000;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 99;
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-right: 140px;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Home Section */
.main-background {
    background-image: url('../images/main-bg.jpg');
    height: 960px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content {
    height: 100%;
}

.home-title span {
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.home-description span {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.home-button button {
    border: none;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1917;
    padding: 20px 100px;
}

.home-navigator {
    bottom: 50px;
}

.home-navigator a {
    text-decoration: none;
}

.home-navigator a span {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home-navigator a img {
    width: 20px;
    height: 8px;
}
/* End Home Section */

/* The Games Section */
.the-games-background {
    background-image: url('../images/the-games-bg.jpg');
    height: 960px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.the-games-carousel {
    width: 50%;
}

.the-games-text-top {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.the-games-text-bottom {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
/* End The Games Section */

/* Features Section */
.features-background {
    background-image: url('../images/features.jpg');
    height: 870px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.features-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.features-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.features-timeline .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.features-timeline .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
/* End Features Section */

/* System Requirements Background */
.system-background {
    background-image: url('../images/requirements.png');
    height: 960px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background-radius {
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
    height: 960px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
}

.system-content {
    z-index: 1;
}

.system-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    margin-bottom: 3rem;
}

.system-item {
    width: 80%;
}

.system-item .item-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.table-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.table-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.table td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.item-table {
    width: 50%;
}
/* End System Requirements Background */

/* Press Quote Section */
.press-quote {
    background-image: url('../images/background-2.png');
    height: 960px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: unset;
}

.bg-press-quote {
    position: absolute;
    height: 950px;
}

.press-quote .p-5 {
    z-index: 99;
}

.pq-left .title {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
}

.pq-left .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    width: 75%;
}

.pq-left button {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border: none;
    border-radius: 4px;
    width: 50%;
    padding: 10px 20px;
}

.pq-right {
    width: 580px;
}

.box-card {
    width: 450px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.photo-user {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -7.5px;
    top: -2.5px;
}

.background-photo {
    background-color: #F3AF34;
    position: absolute;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.pq-name {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548 !important;
}

.pq-job {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF !important;
    opacity: 0.5;
}

.pq-comment {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.pq-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
}

.top-score-1 {
    justify-content: flex-end;
}

.top-score-2 {
    justify-content: flex-start;
}

.top-score-3 {
    justify-content: center;
}
/* End Press Quote Section */

/* Newsletter and Footer Section */
.newsletter {
    background-color: #000000;
    height: 960px;
}

.newsletter-left {
    flex: 1;
}

.newsletter-left span {
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
    position: absolute;
    width: 410px;
    height: 655px;
}

.newsletter-left img {
    width: 410px;
    height: 655px;
}

.newsletter-right {
    flex: 1;
}

.newsletter-right .subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    width: 30%;
}

.newsletter-right .title {
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.newsletter-right .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.form-floating {
    width: 60%;
    padding-right: 20px;
}

.newsletter-input {
    background: rgba(255, 255, 255, 0.08);
    border: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    color: #FFB548;
}

.newsletter-input:focus-within {
    color: #FFB548 !important;
}

.newsletter-input:focus {
    background: rgba(255, 255, 255, 0.08);
    border-color: #FFB548 !important;
    box-shadow: 0 0 0 1px #FFB548;
}

.newsletter-label {
    mix-blend-mode: normal;
    opacity: 0.5;
    color: #FFFFFF !important;
}

.form-button {
    width: 40%;
}

.newsletter-button {
    border: none;
    background-color: #FFB548;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF !important;
}

footer a {
    color: #FFFFFF !important;
    text-decoration: none;
}

footer .bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF !important;
    mix-blend-mode: normal;
    opacity: 0.5;
}

footer hr {
    opacity: 0.5;
    border: 0.873968px solid #FFFFFF;
}

.icon-facebook {
    margin: 0px 3rem;
}

.icon-twitter {
    margin-right: 3rem;
}

.icon-youtube {
    margin-right: 3rem;
}

.footer-top {
    justify-content: flex-end;
}

.footer-top-1 div {
    margin-right: 3rem;
}
/* End Newsletter and Footer Section */

.press-quote-content {
    padding: 3rem;
}

.press-quote-content {
    z-index: 1;
}

.bg-press-quote {
    z-index: 0;
}